body {
  background-color: #ddd;
}

.top {
  margin-top: 1.5rem;
}
.social {
  margin-top: 20px;
}
.social img {
  max-height: 32px;
  max-width: 32px;
}
.social a {
  margin-bottom: 0.5rem;
  width:100%;
  background-color: #fff;
}


.navbar {
  margin-bottom: 0.3rem;
}
.navbar a {
  text-decoration: none;
  text-align: center;
  font-size: 1.8rem;
  color: #0396ad;

  background-color: transparent;
  border: 2px solid #0396ad;

  margin-bottom:0.2rem;
  border-radius: 0.7rem;
}

.navbar > a:hover {
  background-color: white;
}


article {
  padding: 1rem;
  padding-bottom:0.5rem; 
  border-radius: 1rem;
  border: 1px solid gray;
  margin-bottom: 1.5rem;

  background-color: #eee;
}
article .button {
  background-color: #73bbd3;
}

article > h3 {
  font-size: 2em;
}

article > p {
  font-family: 'PT Serif', serif;
}

article pre  > code {
  font-size: 0.9em;
  border: 1px solid #a3cce3;
}

code.example {
  width: 50%;
  line-height: 145%;
  margin-left: auto;
  margin-right: auto;
}

.inline {
  display: inline-block;
}