body {
  background-color: #ddd;
  font-family: 'Helvetica Neue', Roboto, Arial;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  color: #0396ad;
}
div.headpic {
  width:12%;
  height:12%;
  margin-left:auto;
  margin-right:auto;
}

div.headpic img {
  border: 2px solid gray;
}

p.img-caption {
  margin-top:2px;
  font: italic 0.8em Arial;
}

div.blog-text p {
  font-family: 'PT Serif', serif;
}

.blog-links {
  width:50%;
}
.blog-links  a {
  padding: 3px;
  margin-bottom: 3px;
  display: inline-block;
  border-radius: 5px;
  background-color: #0396ad;
  font-weight: bold;
  text-decoration: none;
}
.blog-links a:hover {
  background: #04dbdb;
}