.social img {
  max-height: 32px;
  max-width: 32px;
}
.social a {
  margin-bottom: 0.5rem;
  width:100%;
}

article {
  padding: 1rem;
  padding-bottom:0.5rem; 
  border-radius: 1rem;
  border: 1px solid gray;
  margin-bottom: 1.5rem;

}